@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #eee2de;
}

h1 {
  margin: 10px;
}

.box {
  width: 300px;
  height: 150px;
  border-radius: 20px;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  transform: translateX(-400%);
  transition: transform 0.5s ease-out 0s;
  background-color: #2b2a4c;
  color: white;
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.box:nth-of-type(even) {
  transform: translateX(400%);
}

.box.show {
  transform: translateX(0);
}
